@model Gaming.Personne

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img id="new_image" src="@Url.Content("~" + Model.GetImageURL())" width="300" />
        </dd>

    </dl>
</div>
<p>
    <a href='@Url.Action("Editer", "Personnes", new { id = Model.Id })' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Edit.png")'
             alt="Editer" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Éditer le gamer @Model.Prenom @Model.Nom" />
    </a> &nbsp;
    |
    <a href='@Url.Action("Lister", "Personnes")' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Previous.png")'
             alt="Lister" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Retour à la liste des gamers" />
    </a> &nbsp;
</p>
