@model IEnumerable<Gaming.Personne>

@{
    ViewBag.Title = "Lister";
}

<h2>Lister</h2>

<p>
    @Html.ActionLink("Ajouter un joueur", "Ajouter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateNaissance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editer", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })    <!-- Faudra programmer effacer, mais pas dans un view. Y'a une autre façon que Chourot a utilisée. -->
        </td>
    </tr>
}

</table>
