@model Gaming.Jeu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteWeb)         
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.SiteWeb)">
                @Html.DisplayFor(model => model.SiteWeb)
            </a> 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img id="new_image" src="@Url.Content("~" + Model.GetImageURL())" width="300" />
        </dd>

    </dl>
</div>
<p>
    <a href='@Url.Action("Editer", "Jeux", new { id = Model.Id })' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Edit.png")'
             alt="Editer" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Éditer le jeu @Model.Nom" />
    </a> &nbsp;
    |
    <a href='@Url.Action("Lister", "Jeux")' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Previous.png")'
             alt="Lister" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Retour à la liste des jeux" />
    </a> &nbsp;
</p>
