@model Gaming.UnLienListe

@{
    ViewBag.Title = "Editer";
}

<h2>Modifier</h2>
<h3 style="background-color:red">@ViewBag.Erreur</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    Jeux jeux = new Jeux(Session["DB_REPO"]);
    // Select le nom du jeu
    jeux.SelectByID(Model.IdJeu);
	long idJeu = jeux.jeu.Id;
	jeux.SelectAll("Nom");
    List<Jeu> ListeJeu = jeux.ToList();

    Personnes personnes = new Personnes(Session["DB_REPO"]);
    // Select le nom de la personne
    personnes.SelectByID(Model.IdPersonne);
	long idPersonne = personnes.personne.Id;
	personnes.SelectAll("Prenom");
    List<Personne> ListePersonne = personnes.ToList();
    
    <div class="form-group">      
		@{
			// @personne.Nom.ToString()</input>
			foreach (Personne personne in ListePersonne)
			{
				string check = "";
				if (idPersonne == personne.Id)
				{
					check = "checked=\"checked\"";
				}
				<input type="radio" name="radioPersonne" value="@personne.Id" @check title="@personne.Nom.ToString()" />
					<label>@personne.Prenom.ToString() @personne.Nom.ToString()</label><br>
			}
		}
        </div>
        <div class="form-group">
			@{
				// @Jeu.Nom.ToString()</input>
				foreach (Jeu jeu in ListeJeu)
				{
					// Seulment checked le bon ratio button
					string check = ""; ;
					if (idJeu == jeu.Id)
					{
						check = "checked=\"checked\"";
					}
					<input type="radio" name="radioJeu" value="@jeu.Id" @check title="@jeu.Nom.ToString()" />
							<label>@jeu.Nom.ToString()</label><br>
				}
			}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifier" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href='@Url.Action("Lister", "Liste")' style="text-decoration:none">
        <img src='@Url.Content("~/Images/UI/Previous.png")'
             alt="Lister" class="CMD_Icon_3"
             data-toggle="tooltip"
             title="Retour à la liste des liens" />
    </a> &nbsp;
</div>
